<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Post Test</title>
    </head>
    <body>
        <form action="" name="info" method="post">
            <p>uid : <input type="text" id="uid" name="uid"></p>
            <p>stage : <input type="text" id="stage" name="stage"></p>
            <p>session_key : <input type="text" id="session_key" name="session_key"></p>
            <button type="submit" value="info"> 정보 넘김          
            
        </form>
        <!--
        <form action="" name="createid" method="post">
            <button type="submit" value="creatid"> id생성
        </form>
        -->
    </body>
</html>